@import "../../../../index.scss";

.form-container {
    background-color: $primary;
    font-family: $family-primary;
    padding: 27px 31px 35px;

    @include tablet {
        width: 438px;
    }

    input {
        padding: 19px 10px;
    }

    input,
    select {
        width: 100%;
        background-color: #fdfbff;
        color: $grey-lighter;
        font-family: $family-primary;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.6px;
        border-radius: 0;
    }

    input:focus {
        border: 0;
    }

    .select {
        width: 100%;
    }

    .field:not(:last-child) {
        margin-bottom: -6px;
    }

    @include tablet {
        .field:first-child {
            margin-bottom: 12px;
        }

        .field:nth-child(5),
        .field:nth-child(7) {
            margin-bottom: 0px;
        }
    }

    input[type="submit"] {
        cursor: pointer;
        color: #fdfbff;
        padding: 16px;
        background-color: $secondary;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50px;
        border-width: 0;
        width: 100%;
        margin-top: 23px;
        margin-bottom: 8px;
    }

    input:disabled {
        background-color: white;
    }

    h1 {
        font-family: $family-secondary;
        font-size: 37px;
        font-weight: 500;
        letter-spacing: 1.8px;
        color: #fdfbff;
        margin-bottom: 27px;
    }

    .error {
        color: #a43144;
        font-size: 10px;
    }
}

@import "~bulma/sass/form/_all.sass";
